body {
  font-weight: bold;
  background-image: url(../img/parchment.jpg);
  background-position: center;
  align-items: center;
  padding-top: 25px;
  font-weight: bold;
}
p {
  max-height: 235px;
}
/*.container {
  max-width: 100%;
  margin: none;
  align-items: center;
}*/
.img-styles{
  width: 100%;
  max-height: 650px;
  margin: auto;
  margin-top: 13px;
  padding-bottom: 0;
  border-radius: 1px;
  border: 5px solid white;
}


.room-frame {
  background-image: url(../img/frame.png);
  z-index: 2;
  max-width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 5px;
  padding-bottom: 10px;
  max-height: 250px;
  min-height: 250px;
  min-width: 60%;

}
#room-display {
  max-width: 87%;
  height: inherit;
  margin: auto;
  margin-top: 13px;
  padding-bottom: 0;
  overflow: auto;
}
#room-picture{
  min-width: 470px;
  min-height:350px;
}
.room {
  align-items: center;
  text-align: center;
  font-size: 30pt;
  font-family: 'Tangerine', cursive;
  margin: auto;
  margin-bottom: 36px;
  margin-top: 34px;
  padding: 0px 40px 12px 40px;
  max-width: 100%;
  max-height: 175px;
  overflow: auto;
}
#character-info,
#item-box,
#use-item-box {
  font-weight: bold;
  text-align: left;
  padding: 12px 40px 12px 10px;
  border-radius: 2px;
  border-style: dashed;
  background-repeat: no-repeat;
  min-width: 133px;
}
#character-info h4,
#item-box h4,
#use-item-box h4{
  text-align: left;
}
#item-box {
  border-bottom: none;
}
#button-display {
  background-image: url(../img/frame.png);
  background-size: 100% 100%;
  height: 68px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-repeat: no-repeat;
}
.directions {
  height: 26px;
  width: 26px;
}
.directions:hover {
  cursor: pointer;
}
#textEnterDiv {
  margin-right: 0;
  padding-left: 10px;
}
#textInput {
  font-size: 20pt;
  font-family: 'Tangerine', cursive;
  background: none;
  border-color: black;
  width: 60%;
}
#textSubmit {
  font-size: 20pt;
  font-family: 'Tangerine', cursive;
  background: none;
  border-radius: 0;
  width: 30%;
  font-weight: bolder;
  border-color: #252525;

}
.sanity, #sanity{
  color: #0F6679;
}
.health, #health {
  color: crimson;
}
.item, #itemdisplay {
  color: orange;
  text-shadow: 2px 2px 2px #202020;
}
#contextrow{
  height: 60px;
}
#contextual {
  z-index: 3;
  padding: 0;
  align-items: center;
  text-align: center;


}
.context{
  font-size: 20pt;
  font-family: 'Tangerine', cursive;
  background-image: url(../img/frame.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  margin-top: 10px;
  width: 15%;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
}

.leftContext,
.rightContext,
.middleContext{
  font-size: 20pt;
  font-family: 'Tangerine', cursive;
  background-image: url(../img/frame.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.leftContext:hover,
.rightContext:hover,
.middleContext:hover{
  cursor: pointer;
}
.context:hover{
  cursor: pointer;
}
.arrow {
  text-align: center;
}
#left, #right, #up, #down {
  display: none;
}
#uprow {
  height: 26px;
}
#buttonrow{
  margin-bottom: 8px;
}
#left {
  transform: rotate(90deg);
}
#right {
  transform: rotate(270deg);
}
#up {
  transform: rotate(180deg);
}
#down{
  text-align: center;
}
#downcol {
  margin-left: 0;
  margin-right: 0;
}
#coordinateDisplay {
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
  font-family: 'Tangerine', cursive;
}

.journal-content {
  background-image: url("../img/journal.png");
  width:800px;
  height:500px;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  border: none;
}

/*MODALS*/

.modal-page1 {
  float:left;
  width: 290px;
  margin-top: 30px;
  margin-left: 60px;
}
.modal-page2 {
  float:right;
  margin: 15px 60px 0 0;
}

.modal-page1 p {
  font-family: 'tangerine',cursive;
  position: absolute fixed right;
  font-size: 24pt;
  color: rgba(102, 51, 0, .6);
  text-align: center;
  text-shadow: .5px .25px .25px black;
}

.modal-page2 p {
  font-family: 'tangerine',cursive;
  position: absolute fixed right;
  font-size: 24pt;
  color: rgba(102, 51, 0, .6);
  text-align: center;
  text-shadow: .5px .25px .25px black;
}

/*ALL MODAL CSS RULES FOR APPENDING*/
/*UNIVERSAL CSS FOR ALL MODALS*/
.modal-content {
  background-image: url("../modalimg/parchment.png");
  background-repeat: no-repeat;
  width:800px;
  height:1150px;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  border: none;
}
.journal-content {
  background-image: url("../modalimg/journal.png");
  background-repeat: no-repeat;
  width:800px;
  height:1150px;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  border: none;
}

.textBody {
text-align: center;
}

/*GOLD LIGHTER */
.modalText {
  font-family: 'tangerine',cursive;
  padding-top: 200px;
  position: absolute fixed right;
  font-size: 30px;
  color: rgba(102, 51, 0, .6);
  text-align: center;
  text-shadow: .5px .25px .25px black;
}

#lighter {
  padding-top: 200px;
  padding-left: 200px;
  width:500px;
  -webkit-filter: sepia(70%); /* Chrome, Safari, Opera */
}

/*LEVER ON WALL*/
.modalText {
  font-family: 'tangerine',cursive;
  padding-top: 200px;
  position: absolute fixed right;
  font-size: 30px;
  color: rgba(102, 51, 0, .6);
  text-align: center;
  text-shadow: .5px .25px .25px black;
}

#candle {
  padding-top: 130px;
  padding-left: 200px;
  margin: auto;
  width:550px;
  filter:opacity(800%);
  -webkit-filter: sepia(100%); /* Chrome, Safari, Opera */
  filter:blur(900%);
}

/*CIGARRETTES*/
.modalText {
  font-family: 'tangerine',cursive;
  padding-top: 200px;
  position: absolute fixed right;
  font-size: 30px;
  color: rgba(102, 51, 0, .6);
  text-align: center;
  text-shadow: .5px .25px .25px black;
}

#rolls {
  padding-top: 200px;
  padding-left: 85px;
  margin: auto;
  width:600px;
  -webkit-filter: sepia(60%); /* Chrome, Safari, Opera */
}

/*DEATH*/

.modalText {
  font-family: 'tangerine',cursive;
  padding-top: 170px;
  position: absolute fixed right;
  font-size: 60px;
  color: rgba(102, 51, 0, .6);
  text-align: center;
  text-shadow: .5px .25px .25px black;
}

#death {
  padding-left: 250px;
  margin: auto;
  width:525px;
  -webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
}

/*INSANITY*/
.modalText {
  font-family: 'tangerine',cursive;
  padding-top: 200px;
  position: absolute fixed right;
  font-size: 30px;
  color: rgba(102, 51, 0, .6);
  text-align: center;
  text-shadow: .5px .25px .25px black;
}

#insane {
  padding-top: 100px;
  padding-left: 150px;
  margin: auto;
  width:650px;
  -webkit-filter: sepia(20%); /* Chrome, Safari, Opera */
}

/*DOOR KEY*/
.modalText {
  font-family: 'tangerine',cursive;
  padding-top: 200px;
  position: absolute fixed right;
  font-size: 30px;
  color: rgba(102, 51, 0, .6);
  text-align: center;
  text-shadow: .5px .25px .25px black;
}

/*SCARY EYES*/
#eyes {
  width:570px;
  margin-top: 250px;
  margin-left: 80px;
  border-radius: 50px;
  box-shadow: 60px;
}

#key {
  padding-top: 200px;
  padding-left: 85px;
  /*-webkit-filter: sepia(50%); /* Chrome, Safari, Opera */
  margin: auto;
  width:600px;
}

/*CLOSE MODAL BUTTON ---- NOT IN USE*/
.exit {
  position: absolute fixed right;
  margin-left: 250px;
}
#closeModalBtn {
  color: rgb(255, 191, 128);
  background-color: rgba(102, 51, 0, .6);
  box-shadow: 5px 5px 5px black;
}

#smokeACig{
  display:none;
}

#tripleContextual{
  display: none;
}
#continue {
  display: none;
}
